html {
    background-color: black;
}
.owner {
    color: rgb(255, 255, 255);
    width: fit-content;
    max-width: 60%;
    margin-left: auto;
    margin-right: 3%;
}
.partner {
    color: rgb(255, 255, 255);
    width: fit-content;
    max-width: 60%;
    margin-left: 3%;
}
.mainboxowner {
    background-color: #075e54;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 12px;
    border-top-right-radius: 0;
}
.mainboxpartner {
    background-color: #242424;
    text-align: left;
    padding: 10px;
    border: none;
    border-radius: 12px;
    border-top-left-radius: 0;
}
ul {
    padding-inline-start: 0;
}
ul li {
    list-style-type: none;
}
.rigthtail {
    color: black;
}
.datetime {
    text-align: end;
    color: #bfbfbf;
    font-size: 0.9rem;
}
#printing {
    background-color: black;
    margin: 0;
    padding: 0;
    padding-bottom: 14px;
}
.start-button {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heading-content {
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}
.col {
    border: 1px solid rgb(192, 192, 192);
    color: white;
}

.note1 {
    margin-top: 2rem;
    color: rgb(255, 87, 87);
}
.note2 {
    color: rgb(255, 89, 89);
    font-variant: all-small-caps;
    font-size: larger;
}
.note3 {
    color: rgb(107, 107, 207);
}
h5 {
    letter-spacing: 3px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .owner {
        color: rgb(255, 255, 255);
        width: fit-content;
        margin-left: auto;
        margin-right: 7%;
        max-width: 60%;
    }
    .partner {
        color: rgb(255, 255, 255);
        width: fit-content;
        margin-left: 7%;
        max-width: 60%;
    }
    .modal-content {
        max-width: 100%;
        text-align: center;
    }
}

@media print {
    .partner {
        color: rgb(255, 255, 255);
        width: fit-content;
        max-width: 60%;
        margin-left: 3%;
        font-size: xx-large;
    }
    .owner {
        color: rgb(255, 255, 255);
        width: fit-content;
        max-width: 60%;
        margin-left: auto;
        margin-right: 3%;
        font-size: xx-large;
    }
    .datetime {
        text-align: end;
        color: #bfbfbf;
        font-size: 1.5rem;
    }
}
